.home-tiles *, .home-tiles {
    color: white !important;
    text-decoration: none !important;
}

.bx--breadcrumb-item {
    display: inline;
}

.bx--tile {
    transition: all 250ms;
    background: rgba(0,0,0, 0.6) !important;
}

.page-container {
    background: rgba(10, 10, 10, 1);
    height: calc(100vh - 130px);
    padding: 10px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-color: rgb(100,100,100) rgb(50,50,50);
}

.page-container::-webkit-scrollbar-track {
    background: rgb(50,50,50);
}


.bx--tile:hover {
    background: rgba(0,0,0, 0.9) !important;
}

body {
    background: url("/photo-1607543551362-9c1e4f4ac287.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.container {
    background: rgba(255, 255, 255, 0) !important;
    min-height: 100vh;
}

.breadcrumbs {
    background: rgb(50,50,50);
    padding: 10px;
}